*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Jost", sans-serif;
}

#tagline {
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    color: #AFB9CB;
    display: inline-block;
    width: 100vw;/* Adjust the width as needed */
    height: 70px;
    margin: 0;
}

#cursor {
    border-right: 2px solid #333;
    vertical-align: middle; 
}
.service-image{
    border-radius: 50%;
    width: 50px;
}
