body {
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    background-image: url("src/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    color: white;
    scroll-behavior: smooth;
}
h1{
    color: #FC4433;
    font-family: 'Mg Dalenaf', sans-serif;
    font-size: 64px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

label{
    margin-bottom: 5px;
    text-align: left;
}

input{
    width: 450px;
    height: 25px;
    border-radius: 5%;
}

#tagline {
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    width: 100vw;/* Adjust the width as needed */
    height: 70px;
}

#cursor {
    border-right: 2px solid #333;
    margin-right: 3px; /* Adjust the margin to position the cursor */
    vertical-align: middle; 
}
.btn{
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #FC4433; 
    border-color: #FC4433;
    background-color: transparent;
    margin-top: 40px;
    padding: 12px;
    border-radius: 9999px;
}

.btn:hover{
    color: black;
    background-color: #FC4433;
    transition: all ease-in-out 2.ms;
}

#carousel-container {
    width: 100%;
    overflow: hidden;
}

#image-carousel {
    white-space: nowrap;
}

.heading{
    font-size: 40px;
    color: #FC4433;
    margin-bottom: 50px;
}
.sub-heading{
    font-size: 24px;
}

.hero{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 40px;
}

.center{
    text-align: center;
}

.tagline{
    margin-left: 50px;
}

.carousel-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
    background-color: #FC4433;
    margin: 50px;
    padding: 20px;
    border-radius: 5%;
}

@keyframes moveImages {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%); /* Adjust the percentage based on the number of images */
    }
}

.content{
    margin:0 70px; 
}

.about{
    margin-top: 40px;
    margin-bottom: 100px;
}

.services{
    margin-bottom: 100px;
}

.service-image {
    border-radius: 50%;
    width: 15%;
    height: 25%;
  }

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  

.card {
    display: flex;
    
  }
  
.container{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
  
}

.form{
    text-align: center;
}